<%= include common/header.html %>

<!--==============================content=================================-->
<div id="content">
    <!--==============================row5=================================-->
    <div class="row_5">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-7 col-sm-7 reserve_table">
                    <h2>关于我们</h2>
                    <figure><img src="yujinxiang/img/page2_img1.jpg" alt=""></figure>
                    <h3>关于郁金香</h3>
                    <p class="m_bot2">成功的婚礼策划不是道具的简单拼凑，不是机器似的流程运作，更不是主持人的口若悬河，而是呈现男 女主人公发自内心的情感交集。在新人的爱情故事里提取亮点，每一场婚礼都有不同的爱情故事，做自己的婚礼，实现您婚礼的梦想，这就是我们为您私人定制的 “主题婚礼”。</p>
                    <p>郁金香高端婚礼定制所成立于2012年，隶属于郁金香文化传媒有限公司，已承办大小婚礼近千场，见证了许多幸福的婚礼，积累了许多丰富的经验，创造了许多惊人的奇迹，谱写了许多爱情的篇章，得到了许多称赞的口碑，我们一直在用心做事，诚信做人，我愿做你婚礼梦想飞翔的翅膀，努力打造一生一次的经典婚礼，公司旗下拥有高级策划师十余名，专业的摄影摄像团队，高级的花艺设计大师，中国亲和力的主持团队，80后时尚的彩妆设计，我们拥有这么多丰富的资源，只为您的婚礼梦想，为您量身定制， “以您为尊，为您精彩” 让有梦想的你，寻找到幸福的捷径</p>
                    
                </div>
                
                <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-lg-4 col-md-4 col-sm-4">
                    <h2>我们的承诺</h2>
                    <hr class="line2">
                    <p class="title5">成功的婚礼策划不是道具的简单拼凑，不是机器似的流程运作，更不是主持人的口若悬河，而是呈现男 女主人公发自内心的情感交集。在新人的爱情故事里提取亮点，每一场婚礼都有不同的爱情故事，做自己的婚礼，实现您婚礼的梦想，这就是我们为您私人定制的 “主题婚礼”。</p>
                </div>
            </div>
        </div>
    </div>
</div>

<%= include common/footer.html %>