<%= include common/header.html %>

<!--==============================content=================================-->
<div id="content">
    <!--==============================row7=================================-->
    <div class="row_7">
        <div class="container">
                <div class="row">
            		<div class="col-lg-8 col-md-8 col-sm-8">
                        <h2 class="pad_bot2">我们的服务</h2>
                        <div class="row links">
                		  <div class="col-lg-12 col-md-12 col-sm-12">
                                <h3><a class="btn-link4" href="#">经典浪漫婚礼15888</a></h3>
                                <p>奢华之紫留影区套装（拜占庭艺术风格     设计师David     ￥7500），奢华之紫留影区套装，奢华之紫留影区套装，奢华之紫留影区套装</p>
                                <h3><a class="btn-link4" href="#">经典浪漫婚礼15888</a></h3>
                                <p>奢华之紫留影区套装（拜占庭艺术风格     设计师David     ￥7500），奢华之紫留影区套装，奢华之紫留影区套装，奢华之紫留影区套装</p>
                                <h3><a class="btn-link4" href="#">经典浪漫婚礼15888</a></h3>
                                <p>奢华之紫留影区套装（拜占庭艺术风格     设计师David     ￥7500），奢华之紫留影区套装，奢华之紫留影区套装，奢华之紫留影区套装</p>
                                <h3><a class="btn-link4" href="#">经典浪漫婚礼15888</a></h3>
                                <p>奢华之紫留影区套装（拜占庭艺术风格     设计师David     ￥7500），奢华之紫留影区套装，奢华之紫留影区套装，奢华之紫留影区套装</p>
                                <h3><a class="btn-link4" href="#">经典浪漫婚礼15888</a></h3>
                                <p>奢华之紫留影区套装（拜占庭艺术风格     设计师David     ￥7500），奢华之紫留影区套装，奢华之紫留影区套装，奢华之紫留影区套装</p>
                          </div>
                        </div>
    	           </div>
            		<div class="col-lg-4 col-md-4 col-sm-4">
                        <h2>热点推荐</h2>
                        <ul class="list2">
                            <li><a href="#">******系列微电影</a></li>
                            <li><a href="#">考拉庄园婚纱摄影</a></li>
                            <li><a href="#">最新资讯资讯最新资讯最新资讯</a></li>
                            <li><a href="#">最新资讯最新资讯最新资讯</a></li>
                            <li><a href="#">最新资讯最新资讯最新资讯最新资讯最新资讯</a></li>
                            <li><a href="#">最新资讯最新资资讯最新资讯最新资讯</a></li>
                            <li><a href="#">最新资讯最新资讯最新资讯最新资讯最新资讯</a></li>
                            <li><a href="#">最新资讯最新资最新资讯最新资讯</a></li>
                        </ul> 
    	           </div>
                </div>
        </div>
    </div>
</div>

<%= include common/footer.html %>