<!--==============================footer=================================-->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 footercol">
                <ul class="social_icons clearfix">
                     <li><a href="#"><img src="yujinxiang/img/follow_icon1.png" alt=""></a></li>
                     <li><a href="#"><img src="yujinxiang/img/follow_icon2.png" alt=""></a></li>
                     <li><a href="#"><img src="yujinxiang/img/follow_icon3.png" alt=""></a></li>
                     <li><a href="#"><img src="yujinxiang/img/follow_icon4.png" alt=""></a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 footerlogo footercol">
                
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 footercol">
                <p class="footerpriv">&copy; 2014 &bull; 郁金香版权所有</p>
            </div>
        </div>
    </div>
</footer>
<script src="js/bootstrap.min.js"></script>
<script src="js/tm-scripts.js"></script>
</body>
</html>